<?xml version="1.0" encoding="utf-8" ?>
topic
    title Hello World
    body
        p All Kotlin programs start with the #[code main] function.

        snippet(language="kotlin")
            include:cdata HelloWorld_1.kt
